services:
  db:
    container_name: postgres-spring-boot
    image: postgres:latest

    environment:
      POSTGRES_DB: database
      POSTGRES_USER: ardatas
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5332:5432"
    networks:
      - app-network
    restart: unless-stopped

  app:
    container_name: engineer-app
    build: .
    depends_on:
      - db
    environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/database
        SPRING_DATASOURCE_USERNAME: ardatas
        SPRING_DATASOURCE_PASSWORD: password
    ports:
        - "8080:8080"
    networks:
        - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  db: